<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
     rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="cero">
            <div class="uno">
            <img src="/images/logo-mercado-liebre.svg" width="300"/>
            </div>
            <div class="container">
              <form class="box">  
              <input class="btn" type="text" placeholder="Buscar, productos y marcas">
              <button type="submit"><i class="fa fa-search"></i></button>
              </form> 

              <div class="dos"><i class="fas fa-hand-holding-dollar"></i>Compra en cuotas y tarjetas de credito</div>
            </div>
        </div>
    
    
        <nav class="navbar"> 
           <ul class="lista1">
              <a href="ofertas">-Ofertas</a>
              <a href="tiendas">-Tiendas oficiales</a>
              <a href="vender">-Vender</a>
              <a href="ayudar">-Ayudar</a>
           </ul>
           <ul class="lista2">
              <a href="Crea">-Crea tu cuenta<i class="fa fa-address-card"></i></a>
              <a href="Ingresa">-Ingresa<i class="fa-solid fa-store"></i></a>
              <a href="Mis">-Mis Compras<i class="fa-solid fa-cart-shopping"></i></a>
           </ul>
        </nav>
        <div class="burger-menu">
         <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <section>
            <br>
        <h4><strong>BASADO EN LA ULTIMA VISITA</strong></h4>
            <br>
        <div class="eimy">   
          <div class="principal">
             <img class="img" src="/images/img-cafetera-moulinex.jpg" width="320" height="300"/>
             <i class="fa-solid fa-truck-fast fa-lg" style="color: #17782a;"></i>  
             <p>$6.770</p>
             <p style="color: #17782a;font-weight: bolder;">40%OFF</p>
             <p class="des">Cafetera Moulinex</p>
          </div>
          <div class="segundo">
             <img class="img" src="/images/img-macbook-pro-2019.jpg" width="320" height="300"/>
             <i class="fa-solid fa-truck-fast fa-lg" style="color: #17782a;"></i>
             <p>$230.000</p>
             <p style="color: #17782a;font-weight: bolder;">20%OFF</p>
             <p class="des">Macbook-Pro 2019</p>
          </div>
          <div class="tercero">
             <img class="img" src="/images/img-samsung-galaxy-s10.jpg" width="320" height="300"/>
             <i class="fa-solid fa-truck-fast fa-lg" style="color: #17782a;"></i>
             <p>$70.500</p>
             <p style="color: #17782a;font-weight: bolder;">10%OFF</p>
             <p class="des">Samsung Galaxy S10</p>
          </div>
          <div class="cuarto">
             <img class="img" src="/images/img-tv-samsung-smart.jpg" width="320" height="300"/>
             <i class="fa-solid fa-truck-fast fa-lg" style="color: #17782a;"></i>
             <p>$23.200</p>
             <p style="color: #17782a;font-weight: bolder;">5%OFF</p>
             <p class="des">Smartv Samsung 43"</p>
          </div>
          <div class="quinto">
            <img class="img" src="/public/images/monopatin.jpg" width="320" height="300"/>
            <i class="fa-solid fa-truck-fast fa-lg" style="color: #17782a;"></i>
            <p>$340.000</p>
            <p style="color: #17782a;font-weight: bolder;">10%OFF</p>
            <p class="des">Playstation 5</p>
          </div>
          <div class="sexto">
            <img class="img" src="/public/images/ps5.png" width="320" height="300"/>
            <i class="fa-solid fa-truck-fast fa-lg" style="color: #17782a;"></i>
            <p>$157.000</p>
            <p style="color: #17782a;font-weight: bolder;">5%OFF</p>
            <p class="des">Monopatin</p>
          </div>
        </div>  
        </section>
    </main>
    <footer>
        <div class="mano">
        
            <i class="fa-solid fa-credit-card fa-lg"></i>
            <h4><strong>Paga con tarjeta de credito</strong></h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <br>
        </div>
        <div class="codo">    
        
            <i class="fa-solid fa-gift fa-lg"></i>
            <h4><strong>Envio gratis desde $2.500</strong></h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <br>
        </div>
        <div class="pie">
            <i class="fa-solid fa-person-rifle fa-lg"></i>
            <h4><strong>Seguridad de principio a fin</strong></h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
                <br>
                <br>
            <h6><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></h6>
        </div>
    </footer>
</body>



</html>