<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9396bdc138.js" crossorigin="anonymous"></script>
    <title>Loguin</title>
    <link rel="stylesheet" href="/css/secon.css">
</head>
<body>
    <body>
        <div class="primero">
            <img class="avatar" src="/public/images/logo2.jpg" alt="logo">
            <h1>LOGIN HERE</h1>
            <form>
                <label for="username">Username</label>
                <input type="text" placeholder="Enter Username">
    
                <label for="password">Password</label>
                <input type="password" placeholder="Enter Password">
                <input type="submit" value="Log in">
                <a href="#">Lost your Password?</a><br>
                <a href="#">Don't have an account?</a>
    
        <div class="icono">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-sharp fa-solid fa-envelope"></i>
        </div>        
    
            </form>
        </div>
</body>
</html>